<!DOCTYPE html>
<html lang="en">

<head>
    <title>View DOM</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>View DOM</h1>
    <div ng-app="app">
        <dumb-password></dumb-password>
        <hr>        
        <div class="button"
            ng-repeat="item in 'somewords'.split('') track by $index"
            ng-click="$log.debug($event)">
            {{$index + 1}}. {{item}}
        </div>
    </div>
</body>

</html>